.home {
  .title {
    margin-bottom: 12px;
  }

  .tag {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
  }

  .twit {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    margin: 0 auto 8px;
    padding: 12px;
    width: 70%;
    display: flex;
    align-items: flex-start;
  }

  .avatar {
    width: 48px;
    height: 48px;
  }

  .content {
    display: inline-block;
    width: calc(100% - 48px);
    text-align: left;
    padding-left: 12px;
  }

  .name {
    font-weight: 500;
  }

  .nickName {
    font-size: 12.5px;
    font-style: italic;
    color: #66757f;
  }
}