.header {
  padding-top: 16px;
  padding-bottom: 16px;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
  margin-bottom: 12px;

  li {
    display: inline-block;
    padding-right: 12px;

    &:last-child {
      padding-right: 0;
    }
  }

  a:hover {
    color: white;
  }

  input {
    color: #24292e;
    padding: 0 4px;
  }

  .btn-search {
    color: white;
    background-color: #02b893;
    
    &:hover {
      background-color: #02a583;
    }
  }
}