$FontPath: "../assets/fonts" !default;
$FontName: "Roboto" !default;

@mixin fontDef($FontPath, $FontName, $FontType) {
  src: url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.eot'),
       url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.eot?#iefix') format('embedded-opentype'),
       url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2'),
       url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff') format('woff'),
       url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.ttf') format('truetype');
}

@mixin fontDefault() {
  font-family: $FontName;
  font-size: 16px;
}

@font-face {
  font-family: Roboto;
  @include fontDef($FontPath, $FontName, "Regular");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: Roboto;
  @include fontDef($FontPath, $FontName, "Medium");
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}
