* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

button {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-variant: normal;
  line-height: 1.4;
  letter-spacing: normal;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  min-width: 150px;
  padding: 0 20px;
  width: 100%;
}

body {
  @include fontDefault();
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column;
  text-align: center;
}